footer{font:.6875em/1.6 Arial, Helvetica, "Helvetica Neue", sans-serif;-webkit-font-smoothing:antialiased;color:#60615B;padding:0;overflow:hidden;background-color:#F4F5EE;padding:0;-moz-box-shadow:0 5px 0px #5a595d;-webkit-box-shadow:0 5px 5px #5A595D;box-shadow:0 5px 5px #5A595D;background-color:whiteSmoke}
footer p{max-width:260px;float:left;font-size:1em}
.legalLinks, .footer-top{padding:0 7% 0 7%}
.footer-top{padding-top: 10px}
.twitter,.facebook,.pinterest, .google-plus{background:transparent url(http://cfb53adb9351fd691fd4-80f3ec783953bb03d20a214936320935.r9.cf1.rackcdn.com/images/social/social-media.png) no-repeat 0 0;text-indent:-9999px;overflow:hidden;margin-top:3px;display:block;float:right;width:30px;height:30px;opacity:.7}
.pinterest{background-position:-432px -5px;width:40px;width:31px}
.google-plus{background-position:-347px -5px;width:31px}
.twitter{background-position:-220px -5px;margin-right:6px}
.facebook{background-position:-134px -5px;margin-right:6px}
.twitter:hover,.facebook:hover, .google-plus:hover,.pinterest:hover{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";filter:alpha(opacity=30);opacity:0.3} 
.push{background-color:#fff}
.legalLinks{clear:both;padding-bottom:4.2em;color:#fff;clear:both;background-color:#868783;background:transparent url(http://cfb53adb9351fd691fd4-80f3ec783953bb03d20a214936320935.r9.cf1.rackcdn.com/images/internal/footer/bg.png) 0 0 repeat }
.legalLinksWrapper{background-color:transparent;margin:0;padding:0;height:57px;border-bottom:0px solid #C0C4C6}
.legalLinksList{margin:0 0 0 0;padding:0;list-style:none;display:inline-block}
.legalLinksList li{float:left;display:block;padding:0 0 0px 0;margin:0;border-bottom:none}
.legalLinksList li:hover{border-bottom:none}
.legalLinks a, .legalLinks a:visited, .legalLinksList a{color:#fff;text-decoration:none;-webkit-transition:color .2s linear;-moz-transition:color .2s linear;-o-transition:color .2s linear;transition:color .2s linear;font-size: 0.8rem}
.legalLinksList a{color:#fff;display:block;padding:20px;border-bottom:solid 3px #333}
.legalLinksList .sitemap{}
.legalLinksList .privacy{border-bottom:solid 3px #444}
.legalLinksList a:hover{color:#999;border-bottom-color:#999}