header{background:#F4F5EE none repeat -100% 0;padding:0;z-index:9}
.sub header{background:transparent none;background-color:whiteSmoke}
.sub .figure{margin:0}
.figure{-webkit-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease;width:100%}
.figure a{margin:0 auto 0px;display:block;height:auto;float:none;text-align:center;padding: 10px 0 10px 0}
.figure img{width:60px;height:auto}
