.follow-us-top{margin:10px 10px 10px 20px;width:240px}
.follow-us-bottom{display:block;clear:both;float:right;margin:10px 0 10px 0}
.follow-us-list{}
.follow-us-list-element{display:block;float:right;font-weight: normal;font-size: 12.8px;font-size: 0.8rem}
.follow-us-list-element a{margin-right:5px;margin-top:5px}